*{
    margin-left: 0px;
    margin-right: 0px;
      
}
html {
    scroll-padding-top: 47px; /* height of sticky header */
  }

h1,h2,h3,h4{
    margin-top:10px;
    margin-bottom:10px;
}


@font-face{
    font-family: 'font-moon';
    src: url('../Fonts/moon_get-Heavy.ttf');
  }
@font-face{
  font-family: "font-simplificate";
  src: url("../Fonts/Simplifica.ttf");
}

@font-face{
    font-family: "font-geosans-o";
    src: url("../Fonts/GeosansLight-Oblique.ttf");
  }

@font-face{
    font-family: "font-geosans";
    src: url("../Fonts/GeosansLight.ttf");
 }
body{
    padding-top: 47px;
    background-color: #1b2127;
    /* background-color: #0f1bc083; */
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++/*/

.header{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    height: 47px;
    background-color:#1b2127;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 4px;
    margin-left: 0px;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
    /* border-bottom: 1px solid rgb(34, 34, 48); */
    border-bottom: 1px solid white;
    opacity: 0.97;

}

.header-der > ul >li{
    margin: 0;
   /*  display: inline; */
    padding: 20px;
    color: white;
    text-decoration: none;
 
}

.header .header-der{
    margin-right: 30px;
}

a{
    text-decoration: none;
}

.header-der ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
}


.submenu{
    padding:5px ;
    position: absolute;
    background-color: #333333;   
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu > li:hover{
    background-color: #504c4c;
    transition: all 0.3s;
}

.submenu li a{
    margin: 0px;
    padding: 0px;
    display: block;
    color: #fff;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}   

.header .header-izq{
    justify-content: flex-start;
    align-items: center;
}

.header .header-izq img{
    margin-left: 15px;
    width: 40px ;
    height: 40px;
    align-items: center;
}


.header ul li a{
    color: white;
    text-decoration: none;
}


.header ul li a:hover{
    color: rgb(137, 184, 137);
    transition: all .3s;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++/*/
.section-hero-container{
   /*  background-color: #1b2127; */
    padding: 10px;
    padding-bottom: 15px;
    width: 100%;
}


#section-hero{
    display: flex;
    /* background-color: #1b2127; */
    background: linear-gradient(to right,#283138,#747b81);
    border-bottom: 1px solid rgb(34, 34, 48);
    margin: 10px;
    margin-right: 20px;
    box-shadow:  4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    /* background: linear-gradient(to right, rgb(0, 0, 0),rgb(134, 134, 134));*/
} 




#section-hero .section-hero-izq img{
    width: 300px;
    height: 320px;
    margin: 20px;
    border-radius: 50%;
}

#section-hero .section-hero-der{
    margin-top: 0px;
}


#section-hero .section-hero-der{
    font-size: 42px;
    font-weight: bold;
    /* font-family: 'Fjalla One',sans-serif; */
    font-family: 'font-simplificate';
    color: rgb(0, 177, 0);
    text-shadow: 3px 3px #1f354b;
}

#section-hero .section-hero-der h2{

    margin-bottom: 0px;
}



#section-hero .section-hero-der p{
    color: white;
/*     text-shadow: 1.5px 1.5px #1b2127; */
    text-shadow: 3px 3px black;
    
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++/*/

.section-about-me-container{
   /*  background-color: #1b2127; */
    padding: 10px;
    padding-bottom: 15px;
    width: 100%;

}




#section-about-me{
   
    margin: 10px;
    margin-top: 0;
    padding:10PX;
    /* background-color: #2f3942; */
    background: linear-gradient(to right,#283138,#3d4349);
    color: white;
    box-shadow:  4px 4px rgba(0, 0, 0, 0.4);
    /* width: 50%; */
    width: 90%;
    border-radius: 10px;
}

#section-about-me p{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}


#section-about-me h2{
    margin-top: 7px;
    font-size: 35px;
    font-family: 'Fjalla One',sans-serif;
    margin-left: 10px;
    color: rgb(175, 28, 28);
    }


#section-about-me p{
    
    font-family: 'font-geosans';
    font-size: 22px;

}
/* **************************************************************************************************************** */

.section-mi-experiencia-container{
   /*  background-color: #1b2127; */
    height: 1750px;
}

#section-mi-experiencia{
    background: linear-gradient(to right,#3e4a53,#686e74);
    /* background: linear-gradient(to right,#35393b,#a6afb8); */
    height: 1700px;
    margin: 10px;
    margin-left: 20px;
    margin-top: 0px;
    padding-top: 10px;
    box-shadow:  4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}



#section-mi-experiencia .article-puestos,.article-proyectos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

#section-mi-experiencia .article-puestos .article-logo img{
    height: 100px;
    width: 200px;
}



#section-mi-experiencia h2,h3{
    margin-left: 10px;
    color: white;
}

#section-mi-experiencia h2{
    margin-top: 0px;
    color: rgb(133 133 255);
    font-size: 26px;
}

#section-mi-experiencia .article-container,.article-container-proy{
    background: linear-gradient(to right,#283138,#3d4349);
    color: white;
    box-shadow:  4px 4px rgba(0, 0, 0, 0.4);
    width: 40%;
    padding: 10px;
    margin-bottom: 20px;
}
#section-mi-experiencia .article-container h4{
    margin-top: 7px;
    font-size: 27px;
    padding-bottom: 0px ;
    margin-bottom: 0px;
    font-family: 'Fjalla One',sans-serif;
    margin-left: 10px;
    color: rgb(175, 28, 28);
    text-shadow: 1px 1px #ecd5d5;
    }

#section-mi-experiencia .article-container p{
    margin-left: 10px;
    }

#section-mi-experiencia .article-container .article-logo-titu{  
    display: flex;
}
#section-mi-experiencia .article-container .article-logo-titu p{  
    margin-top: 10px;
}

#section-mi-experiencia .article-container-proy a{  
    text-decoration: none;
    color: #5a8dff;

}

#section-mi-experiencia .article-container-proy img{  
    /* margin-left: 120px; */
    width: 300px;
    height: 200px;

}

#section-mi-experiencia .article-container-proy .proyecto-sup{
    padding: 15px;
    background: linear-gradient(to right,#3e4a53,#686e74);  
    box-shadow: 2px 2px #0f1011;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

#section-mi-experiencia .article-container-proy .proyecto-inf{
    padding: 15px;
    background: linear-gradient(to right,#98a5af,#b0b5bb);  
    box-shadow: 2px 2px #0f1011;
    display: flex;
    justify-content: center;

}

